{
    "extends": [
        "stylelint-config-standard"
    ],
    "plugins": [
        "stylelint-order",
        "stylelint-config-rational-order/plugin"
    ],
    "rules": {
        "indentation": 4,
        "declaration-empty-line-before": "never",
        "no-missing-end-of-source-newline": null,
        "order/properties-order": [],
        "plugin/rational-order": [
            true,
            {
                "border-in-box-model": false,
                "empty-line-between-groups": false
            }
        ]
    },
    "syntax": "scss"
}
